html {
  font-size: 75%;
  min-width: 320px;
}
body {
    font-family: @font;
}
.container {
    padding: 0 10px;
    margin: auto;
}
.container.__wide {
    width: 100%;
    padding: 0;
}

//
// Main menu
//---------------------------
.logo {
    display: block;
    width: 140px;
    height: 34px;
    margin-top: 3px;
    float: left;
    background: url(../img/logo.png) no-repeat left top;
    background-size: contain;
    margin-top: 8px;
}
.menu_wrap {
    background: #fff;
    min-height: 42px;
    position: relative;
    z-index: 200; 
}

// Меню первый уровень
.menu {
    margin: 0;
    padding: 42px 0 0 0;
    list-style-type: none;
    display: none;

    &.__open {
        display: block;
    }

    a {
        color: #030303;
        text-decoration: none;
        font-size: 2rem;
        display: block;
        text-align: center;
        border-bottom: 1px solid lighten(@link-color, 10%);
        padding: 0.3rem;
    }

    .menu_item.__open,
    .menu_item.__active,
    .menu_item:hover {
        background: @link-color;
    }
    
    .__open > .menu_inner {
        display: block;
    }

    .__container {
        &>a {
            position: relative;
            padding-right: 0.5rem;

            &:before {
                .fa-icon();
                content: @fa-var-angle-down;
                position: absolute;
                right: 0.5rem;
                top: 50%;
                margin-top: -1rem;
            }
        }
    }
}

// Меню второй уровень
.menu_inner {
    display: none;
    margin: 0;
    padding: 0;
    list-style-type: none;

    a {
        font-size: 1.5rem;
    }
    .menu_item.__active,
    .menu_item:hover {
        background: darken(@link-color, 5%);
    }

}
.menu_btn {
    background: transparent;
    border-radius: 0px;
    border: 0px;
    width: 45px;
    float: right;
    padding: 12px 5px;

    span {
        display: block;
        background: @link-color;
        border-radius: 5px;
        height: 4px;
    }    
    span + span {
        margin-top: 3px;
    }
    &.__open span {
        background: lighten(@link-color, 10%);
        box-shadow: inset 0 0 3px rgba(0,0,0,0.2);
    }
}


//
// Select language
//---------------------------
#lang-button {
    font-size: 0.875rem;
    margin: 0.6rem 0 0 2.5rem;
    float: left;
    
    .ui-icon-triangle-1-s {
        right: 8px;
        text-indent: 0;
        margin-top: -0.4375rem;
        .fa-icon();
        &:before {
            content: @fa-var-angle-down;
        }
    }

    &.ui-selectmenu-button span.lang_ico {
        left: 3px;
    }
    &.ui-selectmenu-button span.ui-selectmenu-text {
        padding: 0.4rem 15px 0.4rem 20px; 
    }
    .lang_ico {
        margin-top: -7px;
    }
}
.lang-menu {
    font-size: 0.875rem;
    border: 1px solid @light-gray;
    border-radius: 5px;
    background: #ffffff;
    padding-bottom: 0 !important;

    .ui-state-focus,
    .ui-state-active {
        margin: 0;
    }
    .ui-menu-item {
        padding: 5px 5px 5px 20px;

        &+.ui-menu-item {
            border-top: 1px solid @light-gray;
        }

        &:hover {
            background: @link-color;
        }
    }
}
.lang_ico {
    background-position: center center;
    background-repeat: no-repeat;
    height: 16px;
    width: 16px;
    top: 0.1rem;

    &.__ru {
        background-image: url(../img/flags/RU.png); 
    }
    &.__en {
        background-image: url(../img/flags/GB.png); 
    }
    &.__es {
        background-image: url(../img/flags/ES.png); 
    }
    
}


//
// Banner
//---------------------------
.banner {
    position: relative;
    z-index: 100; 
}
.slider {
    position: relative;
    height: 31.25rem;
}
.slide_container {
    width: 100%;
    max-width: 1500px;
    margin: auto;
    position: relative;
    height: 31.25rem;
}
.slides, .control_nav, .direction_nav {
    margin: 0;
    padding: 0;
    list-style-type: none;
} 
.slides {
    position: relative;
}
.slide {
    transition: opacity 0.5s;
    position: absolute;
    width: 100%;
    opacity: 0;
}
.slide.active {
    opacity: 1;
}
.direction_nav {
    position: absolute;
    width: 100%;
    top: 50%;
    margin-top: -24px;
}
.direction_nav li {
    width: 17px;
    height: 48px;
    background-image: url(../img/top-slider/arrow_w.png);
    background-repeat: no-repeat;
    position: absolute;
    cursor: pointer;
    opacity: 0.8;
}
.direction_nav li:hover {
    opacity: 1;
}
.direction_nav .before {
    background-position: left top;
    left: 15px;
    top: 0;
}
.direction_nav .next {
    background-position: right top;
    right: 15px;
    top: 0;
}
.control_nav {
    position: absolute;
    bottom: 5px;
    text-align: center;
    width: 100%;
    z-index: 20;
}
.control_nav li {
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: rgba(255,255,255,0.7);
    vertical-align: middle;
    margin-left: 10px;
    cursor: pointer;
}
.control_nav li:hover {
    background: rgba(255,255,255,1);
}
.control_nav li.active {
    background: rgba(255,255,255,1);
    width: 10px;
    height: 10px;
}
.slide_content {
    height: 31.25rem;
    margin: 0 auto;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    font-weight: 300;
    color: #fff;
    text-shadow: 2px 2px 0px rgba(0,0,0,0.5);
}
.slide_caption {
    position: absolute;
    font-size: 1.125rem;
    text-align: center;
    bottom: 30px;
    right: 15px;
    left: 15px;
}
.slide_name {
    display: block;
    font-weight: 600;
}
.slide_location {
    display: block;
}
.direction_nav_wrap {
    height: 31.25rem;
    position: relative;
    z-index: 10;
}


//
// Header
//---------------------------
.header_wrap {
    position: relative;
}
.hfilter {
    background: @head-filter-background;
    padding: 0px 0.4rem; 
    margin: auto;
    .clearfix();
}


//
// Form
//---------------------------
.form_item {
    margin: 0.4rem 0;
}
.form_control {
    width: 100%;
    font-size: 1rem;
    height: 2.25rem;
    border-radius: 0.5rem;
    border-width: 0px;
    background: #ffffff;
    padding-left: 0.4rem;
    padding-right: 0.4rem;
    outline: none;
}


//
// Кастомный select
//---------------------------
.custom_select {
    display: block;
    width: 100%;
    font-size: 1rem;
    height: 2.25rem;
    border-radius: 0.5rem;
    border-width: 0px;
    background: #ffffff;
    padding-left: 0.4rem;
    padding-right: 0.4rem;
    outline: none;
    
    &.__open {
       border-radius: 0.5rem 0.5rem 0 0; 
    }

    span.ui-selectmenu-text {
        padding: 0.45rem 0;
    }

    .ui-icon {
        right: 8px;
        text-indent: 0;
        margin-top: -0.4375rem;
        .fa-icon();
        &:before {
            content: @fa-var-caret-down;
        }
    }
}
.custom_select_menu {
    background: #ffffff;
    z-index: 300;
    border-radius: 0 0 0.5rem 0.5rem;
    overflow: hidden;
    font-size: 0.875rem;

    .ui-menu {
        .ui-state-focus, 
        .ui-state-active {
            margin: 0;
        }
    }

    li:hover {
        background: @select-item-bg-hover;
    }
    
    .ui-state-disabled:hover {
        background: @select-disabled-hover;
    }

    .ui-menu-item {
        outline: none;

        &+.ui-menu-item {
            border-top: 1px solid @select-item-border;    
        }
        
    }
}



//
// Custom`ный календарь
//---------------------------
.ui-datepicker {
    background: #ffffff;
    border-radius: 0.5rem;
    z-index: 300 !important;
    margin: 2px 0;
    box-shadow: 0 0 10px -3px rgba(0, 0, 0, 0.3);

    a {
        color: @text-color;
    }


    .ui-datepicker-header {
        margin: 0.5rem 0 0 0;
    }

    .ui-corner-all {
        
        &:before {
            .fa-icon();
            color: @light-gray;
            text-indent: 0;
            position: absolute;
            top: 50%;
            margin-top: -0.7rem;
            font-size: 1.5rem;
        }
        
        &.ui-state-disabled:hover:before {
            color: @light-gray;
        }

        &:hover:before {
            color: @text-color;
        }
    }

    .ui-datepicker-prev {
        cursor: pointer;
        &:before {
            content: @fa-var-chevron-left;
            right: 0;
        }
    }

    .ui-datepicker-next {
        cursor: pointer;
        &:before {
            content: @fa-var-chevron-right;
            left: 0;
        }
    }

    td span {
        color: @dp-disable-color;
    }

    td span,
    td a  {
        text-align: center;
        display: block;
        border-radius: 50%;
        line-height: 2.25rem;
        padding: 0;
        .square(2.25rem);

        &:hover {
            border: 1px solid @dp-border-color;
        }
    }

    .ui-state-active {
        background: @dp-active-bg;
    }
}



//
// Кнопки
//---------------------------
.btn {
    height: 2.25rem;
    font-size: 1rem;
    font-family: @btn-font;
    padding-left: 1rem; 
    padding-right: 1rem; 
    text-decoration: none;
}
.btn.__warning {
    background: @warning;
    color: #ffffff;
    font-weight: 600;
    border-width: 0px;
    border-radius: 0.4rem; 

    &:hover {
        background: darken(@warning, 10%);
    }
}



//
// Фильтр
//---------------------------
.filter {
    float: left;
    background: @filter-background;
    border-radius: 0.5rem;
    width: 190px;
}
.filter_name {
    padding: 0.75rem;
    font-size: 0.875rem;
    text-transform: uppercase;
    color: @filter-name-color;
    font-weight: 600;
    position: relative;
    border-bottom: 1px solid lighten(@light-gray, 10%);

    &:before {
        .fa-icon();
        content: @fa-var-angle-down;
        color: @light-gray;
        position: absolute;
        right: 0.75rem;
        top: 50%;
        margin-top: -0.4375rem;
    }
}
.filter_tool {
    padding: 0.75rem;
}



//
// Фильтр - слайдер
//---------------------------
.filter_slider {
    
    &.ui-slider {
        background: @filter-slider-bg;
    }

    .ui-slider-range {
        background: @filter-slider-range-bg;
    }

    .ui-slider-handle {
        background: @filter-slider-handle;
    }

}