/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) {

html {
  font-size: 80%;
}
.container {
	width: @screen-sm-min;
}
.logo { 
	margin-top: 0.2rem;
	width: 216px;
}
.menu_wrap {
	min-height: 3.125rem;
	height: 3.125rem;
}
.menu {
	padding-top: 0;
    display: block;
    float: right;
    a {
    	text-decoration: none;
    }
	.active a,
	a:hover {
	    color: #030303;
	}
	> .menu_item {
	    float: left;
	    position: relative;
	    > a {
		    font-size: 1.125rem;
		    border-bottom: none;
		    white-space: nowrap;
		    padding: 0.75rem 1rem;
		    height: 3.125rem;
		}
	}
}
// Меню второй уровень
.menu_inner {
	position: absolute;
	background: @link-color;
	left: 0;
	top: 100%;
	> .menu_item {
	    > a {
		    font-size: 1.10rem;
		    white-space: nowrap;
		    padding: 0.5rem 1rem;
		    text-align: left;
		}
	}
}
.menu_btn {
	display: none;
}



//
// Banner
//---------------------------
.slide_caption {
	display: inline-block;
    text-align: left;
    right: 15px;
    left: auto;
}



//
// Form
//---------------------------
.header_wrap {
	height: 31.25rem;
}
.hfilter_wrap {
	position: absolute;
	top: 50%;
	z-index: 200;
	width: 100%;
}
.hfilter {
    border-radius: 0.5rem;
    width: 100%;
    max-width: 92%;
}
.form.__horizontal {
    .form_item {
        float: left;
        &+.form_item {
        	padding-left: 0.5rem;
        }
    }
}

// End  
}