@link-color: 				 #ffc400;

// Head filter
@head-filter-background:     @link-color;

// Font
@font: 'Open Sans', sans-serif;

// Form
@btn-font: @font;

// Colors
@light-gray:                 #c9c9ca;
@warning:                    #e9213f;

// Screen
@screen-sm-min:              768px;
@screen-md-min:              1000px;

